<%= form_for(@service) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :expected_day %>
  <%= f.text_field :expected_day %>

  <%= f.label :expected_month %>
  <%= f.text_field :expected_month %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
