<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><%= t("listing") %></h4>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th><%= Service.human_attribute_name(:name) %></th>
        <th><%= Service.human_attribute_name(:expected_day) %></th>
        <th><%= Service.human_attribute_name(:expected_month) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td><%= service.name %></td>
          <td><%= service.expected_day %></td>
          <td><%= service.expected_month %></td>
          <td><%= link_to t 'Show', service, class: "btn btn-primary btn-xs" %></td>
          <td><%= link_to t 'Edit', edit_service_path(service), class: "btn btn-primary btn-xs" %></td>
          <td><%= link_to t 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<br>

<%= link_to t('New'), new_service_path, class: "btn btn-success" %>
