<%= form_for(@membership) do |f| %>

  <%= f.label company %>
  <%= f.text_field company %>

  <%= f.label amount %>
  <%= f.text_field amount %>

  <%= f.label expires_on %>
  <%= f.text_field expires_on %>

  <%= f.label amount_paid %>
  <%= f.text_field amount_paid %>

  <%= f.label paid_at %>
  <%= f.text_field paid_at %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
