<%= form_for(@contact) do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :company %>
  <%= f.text_field :company %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
